// VARIABLES
$webViewWidth: 600px;
$imgScaleSpeed: 0.3s;
$imgHoverScale: 1.025;
$highlightColour: #BD3212;




/* PROJECTS SECTION */
#portfolio {
	margin: 0 auto;
	max-width: 900px;
	padding: 0 1em 2em 1em;

	a {
		text-decoration: none;
	}

	#projects {
		margin-top: 3em;
	}
	
	.project {
		margin: 3em auto 2em auto;
		max-width: 500px;
		text-align: center;
		transition: transform 0.5s ease;
		vertical-align: top;

		.header {
			margin: 0;
			padding: 0;

			h2 {
				color: #343434;
				font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
				font-size: 1.05em;
				font-weight: 200;
				margin-bottom: 0;
				text-align: left;
				text-transform: uppercase;
				transition: color 0.3s ease;

				.social {
					float: right;
					text-transform: lowercase;

					a {
						text-decoration: none;
					}

					a:hover {
						color: $highlightColour;
					}
				}
			}
		}

		img,
		.background-image {
			border-radius: 5px;
			box-shadow: 1px 1px 1px #999;
			margin: 2px 0 6px 0;
			max-height: 250px;
			transition: transform $imgScaleSpeed ease;
			width: 100%;
		}

		img.visible,
		.background-image.visible {
			opacity: 1;
		}

		img:hover,
		.background-image:hover {
			transform: scale($imgHoverScale);
		}

		.youtube-embed-container {
			height: 0;
			overflow: hidden;
			padding-bottom: 56.25%; /* 16:9 */;
			padding-top: 25px;
			position: relative;
			width: 100%;

			iframe {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}

		.description {
			color: $subtextColour;
			font-family: 'Garamond', serif;
			font-size: 0.915em;
			font-weight: 200;
			line-height: 1.25em;
			margin-top: 0;
			text-align: left;
			transition: color 0.4s ease;
		}
	}

	.project:hover h2 {
		color: $highlightColour;
	}

	.project:hover .description {
		color: #2C2C2C;
	}
}


/* ------------------------------------------------ */
/* MEDIA QUERIES
/* ------------------------------------------------ */
@media screen and (min-width: $webViewWidth) {
	#portfolio #projects {
		margin-top: 2.5em;
		text-align: center;

		.project {
			display: inline-block;
			margin: 1em;
			max-width: 250px;
			text-align: left;
		}

		img {
			background-position: center;
		}
	}
}












