// VARIABLES
$webViewWidth: 600px;
$imgScaleSpeed: 0.3s;
$imgHoverScale: 1.025;
$highlightColour: #BD3212;

$titletextColour: #343434;
$subtextColour: #969696;


$navColour: #969696;
$navHoverColour: orchid;
$navHoverSpeed: 0.5s;
$contactHoverSpeed: 0.5s;


// IMPORTS
// @import '../../node_modules/compass-mixins/lib/compass/css3';
// @import 'compass/css3';
@import 'html5-boilerplate';
@import 'html5-normalize';
@import 'base';
@import 'header-nav';




@font-face {
	font-family: 'Unica-Pro';
	src: url('../fonts/NeueHaasUnicaPro-Thin.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Unica-W1G';
	src: url('../fonts/NeueHaasUnicaW1G-Thin.ttf');
	font-weight: normal;
	font-style: normal;
}
